user.mk
rundir

quake/cvm/dumpcvm
quake/cvm/pickrecord
quake/cvm/querycvm
quake/cvm/scancvm
quake/cvm/showdbctl
quake/forward/psolve
quake/forward/q4showmeta
quake/forward/qmesh
quake/forward/single_query

.settings
.cproject
.project

*.[oa]
*~
*.DS_Store
